[Unit]
Description=Flink Service
After=network.target zookeeper.service

[Service]
Type=simple

User=flink
Group=apps

# Environment="JAVA_HOME=/opt/apps/jdk1.8.0"
# Environment="FLINK_HOME=/opt/apps/flink"

WorkingDirectory=/opt/apps/flink
# PIDFile=/opt/temp/flink/flink-flink-standalonesession.pid

ExecStart=/home/flink/start-cluster.sh.simple
ExecStop=/opt/apps/flink/bin/stop-cluster.sh

Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target