[Unit]
Description=Hadoop Application
After=network.target

[Service]
Type=simple

User=hadoop
Group=apps

WorkingDirectory=/opt/apps/hadoop

ExecStart=/home/hadoop/start-dfs.sh.simple
ExecStop=/opt/apps/hadoop/sbin/stop-dfs.sh

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target